table{
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width:100%;
}
td,th{
    border: 1px solid #ddd;
    text-align: left;
    padding:8px;
}
tr:nth-child() {
    background-color:#ddd;
}